<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <title>Fwitter - Profile</title>
  </head>
  <body>

    <%- include('./partials/nav') %>

    <section>
      <div class="container">
        <p>
        ID: <%= user.id %><br/>
        Username: <%= user.username %><br/>
        <% if (user.email) { %>
        Email: <%= user.email %><br/>
        <% } %>
        Followers: <%= user.followers %><br>
        Tweets: <%= user.tweets %>
        </p>
        <% if (viewer._id.toString() === user._id.toString()) { %>
          <a href="/tweets">View Your Tweets</a>
          <br>
          <a href="/logout">Log out</a>
        <% } else if (user.following.toString().includes(viewer._id.toString())) { %>
          <p>You're already following this user</p>
        <% } else { %>
          <form class="form" action="/follow/<%= user._id %>" method="post">
            <button type="submit" class="button is-info"><i class="fas fa-user-plus"></i>Follow <%= user.username %></button>
          </form>
        <% } %>
      </div>
    </section>

  </body>
</html>
