<p>
ID: <%= user.id %><br/>
Username: <%= user.username %><br/>
<% if (user.email) { %>
Email: <%= user.email %><br/>
<% } %>
Followers: <%= user.followers %><br>
Tweets: <%= user.tweets %>
</p>
<a href="/logout">Log out</a>
