<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <title>Fwitter - Your Tweets</title>
  </head>
  <body class="site">

    <%- include('./partials/nav') %>

    <section class="site-content">
      <div class="input-field">
        <p class="title">Your Tweets</p>
      </div>
      <% tweets.forEach(function(tweet) { %>
        <div class="columns">
          <div class="column is-4 is-offset-4">
            <div class="card">
              <div class="card-header">
                <p>On <small><%= tweet.created.toDateString() %></small></p>
              </div>
              <p class="subtitle"><%= tweet.tweetBody %></p>
              <p><a class="button is-link" href="/tweets/<%= tweet._id %>"> View tweet <i class="fab fa-twitter" data-fa-transform="rotate-90"></i></a></p>
            </div>
          </div>
        </div>
      <% }); %>
    </section>

    <%- include('./partials/footer') %>

  </body>
</html>
