<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <title>Fwitter - Tweet</title>
  </head>
  <body>

    <%- include('./partials/nav') %>

    <section>
      <div class="container">
        <div class="card">
          <p>Your Tweet</p>
          <p><%= tweet.tweetBody %></p>
          <p><%= tweet.created.toDateString() %></p>
          <a class="button is-primary" href="/tweets/<%= tweet._id %>/edit">Edit Tweet</a>
          <button class="button is-danger deleteTweet" id=<%= tweet._id %>>Delete Tweet</button>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="/assets/delete.js">

    </script>
  </body>
</html>
