<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <title>Fwitter - Tweet</title>
  </head>
  <body class="site">

    <%- include('./partials/nav') %>

    <section class="site-content">
      <div class="columns">
        <div class="column is-4 is-offset-4 the-padder">
          <div class="card">
            <div class="card-header">
              <p class="subtitle">Your Tweet</p>
            </div>
            <p class="subtitle"><%= tweet.tweetBody %></p>
            <small><%= tweet.created.toDateString() %></small>
            <br>
            <a class="button is-primary" href="/tweets/<%= tweet._id %>/edit">Edit Tweet &nbsp <i class="far fa-edit"></i></a>
            <button class="button is-danger deleteTweet" id=<%= tweet._id %>>Delete Tweet &nbsp <i class="far fa-trash-alt"></i></button>
          </div>
        </div>

      </div>
    </section>
    <script type="text/javascript" src="/assets/delete.js"></script>

    <%- include('./partials/footer') %>

  </body>
</html>
